<nav class="navbar navbar-expand navbar-dark b">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="" class="navbar-brand" (click)="showTab('')">ABC Company</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar navbar-nav">
                <li><a routerLink="" class="nav-link" (click)="showTab('home')"><b>Home</b></a></li>
                <li><a routerLink="product" class="nav-link" (click)="showTab('product')"><b>Our Product</b></a></li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <a routerLink="shopping-cart">
                    <i class="fas fa-shopping-cart"><span class="badge badge-secondary"
                            id="itemsCount">{{count}}</span></i>
                </a>
                <li class="">
                    <a routerLink="register" class="nav-link" (click)="showTab('register')"><b>Register/Login</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>