<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink=""class="navbar-brand" (click)="showTab('')">ABC Company</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar navbar-nav">
                <li><a routerLink="" class="nav-link" (click)="showTab('home')">Home</a></li>
                <li><a routerLink="product" class="nav-link" (click)="showTab('shopping-list')">Our Product</a></li>
            </ul>

            <ul class="nav navbar-nav ml-auto">
              
            <a class="mt-2 mr-3" routerLink="shopping-cart" >
                <i class="fas fa-shopping-cart"><span class="badge badge-secondary" id="itemsCount"></span></i>
                <span class="badge badge-secondary"> <i class="fas-fa-shopping-cart">{{count}}</i></span>
            </a>
              
                <li class="" >
                    <a routerLink="register"  class="nav-link"  (click)="showTab('register')">Register/Login</a>
                </li>
                

               


            </ul>
        </div>
    </div>
</nav>
<!-- 1) New recipe component add a placeholder and have empty initial value 
2) Change the name of the save button to add button
3) remove the "Please select the product" when we click on new product button
4) get back to default state when a product is added into the list -->
