.navbar-expand{
    color: white; background-color: #e91e63;
}
i{
    color: white;
}
#itemsCount{
    background-color: darkblue;
    font-size: 15px;
}
.nav .nav-link{
    color: white;
}
.nav .navbar-nav{
    color: white;
}